<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
   <p>Welcome, {{ current_user.name }}!</p>
   <br>

   <a href="/profile">user profile</a>
   <br>
    <a href="/logout">Logout</a>
    <br>
    <a href="updata">updata profile</a>
    <br><br>
    <a href="/create_post">Create New Post</a>

   <br>
   {% for post in posts %}
   <h2>{{ post.title }}</h2>
   <p>{{ post.content }}</p>
   <p>By {{ post.author.name }}</p>

    <a href="{{ url_for('main.edit_post', post_id=post.id) }}">Edit Post</a>
    <a href="/delete_post/{{ post.id }}">Delete Post</a>
    <hr>
     {% endfor %}
   <br>

</body>
</html>